@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: 	#8fbc8f;
}
.maindiv {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
}
.content{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.content h1{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color:green;
    font-family: 'Roboto', sans-serif;
}
.sketchfab-embed-wrapper{
    text-align: center;
}